body{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#Main{
    margin-bottom: 0px;
}

#VisualSettings{
    margin-left: 40px;
}

p {
    padding-left: 8px;
    font-size: 11x;
    color: #333333;
}

h4{
    font-size: 12px;
    color: #333333;
    text-align: left;
    font-weight: 800;
    margin-top: 8px;
    margin-bottom: 16px;
}

#mainContent{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
}

/****** TOOLTIP ********/
.errorContent {
    position: relative;
    display: none;
}

.errorContent .errorText {
    visibility: hidden;
    width: 120px;
    background-color: #191F23;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 6px 12px 6px 12px;
    position: absolute;
    z-index: 1;
    font-size: 11px;
    bottom: 145%;
    left: 50%;
    margin-left: -72px;
    opacity: 0;
    transition: opacity 0.3s;
}

.errorContent .errorText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #191F23 transparent transparent transparent;
}

.errorContent:hover .errorText {
    visibility: visible;
    opacity: 1;
}
  
/******* FOOOTER *******/

#Footer{
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

#buttonswrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn-primary {
    cursor: pointer;
    font-size: 14px;
    border-radius: 8px;
    background: #191F23;
    color:#fff ;
    border: none;
    padding: 12px 16px 12px 16px;
}

/********* BUTTONS ********/ 

.btn-primary:hover {
    background: #4B4B4B;
    color:#fff ;
}

.btn-primary:disabled{
    background: #c4c4c4;
    color: #909090;
    cursor: not-allowed;
}

.btn-secondary {
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    color: #333333;
    border: none;
    padding: 12px 16px 12px 16px;
    margin-right: 12px;
    outline: none;
}

.btn-secondary:hover {
    background: #fafafa;
    color: #333333 ;
}

.btn-secondary:focus {
    border-color:#191F23;
    border-width: 1px;
    outline: none;
  }
  
  .btn-primary:focus {
    border-color:#191F23;
    border-width: 1px;
    outline: none;
  }

/********* INPUTS ********/ 

input:focus {
    border-color:#191F23;
    border-width: 1px;
    outline: none;
  }

  input:hover {
    border-color: #868686;
    border-width: 1px;
    outline: none;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input{
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 50px;
    padding-right: 6px;
    text-align: right;
}

/****** INPUT ERROR ******/
input:invalid{
    border-color: #DD0830;
    border-width: 1px;
    outline: none;
    margin-left:8px;
}

/******** INPUT COLOR *****/
#colorHexa{
    width: 70px;
    padding-right:10px;
}
#colorPicker{
    margin-left: -1px;
    margin-right: -4px;
    height: 24px;
    width: 30px;
    cursor: pointer;
    border: none;
}

#colorPicker::-webkit-color-swatch-wrapper {
    padding: 0px;
    margin: 0px;
}

#colorPicker::-webkit-color-swatch {
    border: 1px;
    border-style: solid;
    border-color:#ccc;
    height: 20px;
    width: 20px;
    border-radius: 6px;
}

#colorinputwraper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#ColorAlpha{
    margin-left: 8px;
}

/********* TOGGLE ********/ 
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 6px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked + .slider {
    background-color: #191F23;
}

input:checked + .slider:before {
    -webkit-transform: translateX(23x);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 99px;
}

.slider.round:before {
    border-radius: 99px;
} 

#toggleDiv{
    display: inline-block;
}

/********* RESET ********/ 

#ResetDefault{
    background-color: #fff;
    border: none;
    outline: none;
    margin: 0px;
    color: #333333;
    font-weight: 400;
    cursor: pointer;
    padding-left: 0px;
}

#ResetDefault:hover{
    text-decoration: underline;
}


/********* CONTENT ROWS ********/ 

#errorWrapper{
    display: flex;
    justify-content: end;
    align-items: center;
}

#inputRow{
    width: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#lineDetail{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 32px;
}