<form method="get" id="Main">

  <div id="mainContent">
    <section id="matrixStructure">
      <h4>Matrix Settings</h4>
      
      <div id="inputRow">
        <div id="lineDetail">
          <img src="<%= require('./images/column.svg') %>" width="18" height="18">
          <p>Columns</p>
        </div>
        <div id="errorWrapper">
          <div class="error">
            <div class="errorContent">
              <img src="<%= require('./images/alert.svg') %>" width="18" height="18">
              <span class="errorText"></span>
            </div>
          </div>
          <input class="input" id="columns" min="1" max="40" value="3">
        </div>
      </div>

      <div id="inputRow">
        <div id="lineDetail">
          <img src="<%= require('./images/rows.svg') %>" width="18" height="18">
          <p>Rows</p>
        </div>
        <div id="errorWrapper">
          <div class="error">
            <div class="errorContent">
              <img src="<%= require('./images/alert.svg') %>" width="18" height="18">
              <span class="errorText"></span>
            </div>
          </div>
          <input class="input" id="rows" min="1" max="40" value="3">
        </div>
      </div>
     
      <div id="inputRow">
        <div id="lineDetail">
          <img src="<%= require('./images/padding.svg') %>" width="18" height="18">
          <p>Padding</p>
        </div>
        <div id="errorWrapper">
          <div class="error">
            <div class="errorContent">
              <img src="<%= require('./images/alert.svg') %>" width="18" height="18">
              <span class="errorText"></span>
            </div>
          </div>
          <input class="input" id="padding" min="0" max="999" value="30">
        </div>
      </div>
      
      <div id="inputRow">
        <div id="lineDetail">
          <img src="<%= require('./images/size.svg') %>" width="18" height="18">
          <p>Cell-size</p>
        </div>
        <div id="errorWrapper">
          <div class="error">
            <div class="errorContent">
              <img src="<%= require('./images/alert.svg') %>" width="18" height="18">
              <span class="errorText"></span>
            </div>
          </div>
          <input class="input" id="cell-size" min="1" max="1000" value="30">
        </div>
      </div>
    </section>

    <section id="VisualSettings">
      <h4>Visual Settings</h4>
      <div id="inputRow">
        <div id="lineDetail"> 
          <input id="colorPicker" type="color" name="DefaultBlack" value="#000000" > 
          <p>Color</p> 
        </div>
        <div id="colorinputwraper">
          <div class="error">
            <div id="errorWrapper">
              <div class="error">
                <div class="errorContent">
                  <span class="errorText"></span>
                </div>
              </div>
            </div> 
          </div>
          <input class="input" id="colorHexa" type="text" maxlength="7" minlenght="6" value="#000000">
          <input class="input" id="ColorAlpha" type="number" min="0" max="100" value="100">
        </div>
      </div>

      <div id="inputRow">
        <div id="lineDetail"> 
          <img src="<%= require('./images/stroke.svg') %>" width="18" height="18" value="1">
          <p>Stroke</p>
        </div>
        <div id="errorWrapper">
          <div class="error">
            <div class="errorContent">
              <img src="<%= require('./images/alert.svg') %>" width="18" height="18">
              <span class="errorText"></span>
            </div>
          </div>
          <input class="input" id="stroke-weight" type="number" min="1" max="99" value="1">
        </div>
      </div>

      <div id="inputRow">
        <div id="lineDetail"> 
          <img src="<%= require('./images/rotation.svg') %>" width="18" height="18">
          <p>Curl</p>
        </div>
        <label class="switch"> 
          <input class="sliderInput" type="checkbox" id="PassiveRotation">
          <span class="slider round"></span>
        </label>
      </div>
      
      <div id="inputRow">
        <div id="lineDetail">
          <img src="<%= require('./images/widthcontraction.svg') %>" width="18" height="18">
          <p>Size reduction</p>
        </div>
        <label class="switch">
          <input class="sliderInput" type="checkbox" id="WidthReduction">
          <span class="slider round"></span>
        </label>
      </div>

      <div id="inputRow">
        <div id="lineDetail">
          <img src="<%= require('./images/arrow-right.svg') %>" width="18" height="18">
          <p>Stroke cap</p>
        </div>
        
        <select id="custom-select">
          <option value="Triangle Arrow">Triangle Arrow</option>
          <option value="Line Arrow">Line Arrow</option>
          <option value="None">None</option>
        </select> 
      </div>
    </section>

    <section id="Footer">
        <button class="btn-secondary" id="randomizer" type="button">Randomizer</button>
        <button class="btn-primary" id="generate" type="button">Generate</button>
    </section>
  </div>
</form>